.App {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: 100vh;
}

.board-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 10%;
  padding-right: 10%;
}
