.modal-create-board{
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: display .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content-create-board {
    background: white;
    height: 30%;
    width: 30%;
    border-radius: 20px;
    overflow: scroll;
}
.modal-content-create-board form{
    display:flex;
    flex-direction: column;
    padding: 3rem;
}
.modal-content-create-board form input{
    padding: 5px;
    font-family: 'Lexend', sans-serif;
}
